<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IMFER.ME</title>
<meta name="author" content="fankangsong@gmail.com">
</head>
<body>

<script type="text/template" id="template_list">
<div class="header">
<a href="/">IMFER.ME</a>
<div class="tags">
<% _.each(tags, function(items, i){ %>
    <a href="#!tags/<%= items %>/1"><%= items %></a>
<% }) %>
</div>
</div>


<ul>
<% _.each(data, function(items){ %>
    <li><a href="#!post/<%= items.link %>"><%= items.title %></a>
        <span class="date"><%= items.link.substring(0, 10) %></span>
    </li>
<% }) %>
</ul>

<div>

<% if(links.length > 1){ %>
    <% _.each(links, function(items, i){ %>
            <% if(path == 'tag'){ %>
                <a href="#!tags/<%= current_tag %>/<%= Number(i + 1) %>"
            <% } else{ %>
                <a href="#!page/<%= Number(i + 1) %>"
            <% } %>
            <% if(i == current_num){ %>
                class="current"
            <% } %>
        ><%= Number(i + 1) %></a> 
    <% }) %>
<% } %>
</div>

<div class="footer">
    <p>&copy; <a href="//imfer.me">imfer.me</a> 2014</a></p>
</div>
</script>
<div id="main"></div>
<script src="http://cdn.staticfile.org/jquery/1.9.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://cdn.staticfile.org/backbone.js/1.1.2/backbone-min.js"></script>
<script src='http://cdn.staticfile.org/showdown/0.3.1/showdown.min.js'></script>
<script src="app.js"></script>
</body>
</html>
